%h1 Listing admin_doctors

%table
  %tr
    %th Code
    %th First name
    %th Last name
    %th Designation
    %th
    %th
    %th

  - @admin_doctors.each do |admin_doctor|
    %tr
      %td= admin_doctor.code
      %td= admin_doctor.first_name
      %td= admin_doctor.last_name
      %td= admin_doctor.designation
      %td= link_to 'Show', admin_doctor
      %td= link_to 'Edit', edit_admin_doctor_path(admin_doctor)
      %td= link_to 'Destroy', admin_doctor, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Doctor', new_admin_doctor_path
