= link_to "Test", admin_tests_path
= link_to "Add Test", new_admin_test_path
= link_to "Test Category", admin_test_categories_path
= link_to "Add Test Category", new_admin_test_category_path
= link_to "Doctors", admin_doctors_path
= link_to "Add Doctors", new_admin_doctor_path
